body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  position: relative;
  background: linear-gradient(to bottom, #8c60e4, #261763);
}

@font-face {
  font-family: "jj";
  src: url(junegull.ttf);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
  height: 24em;
  width: 24em;
  background-color: #8c60e4;
  border-radius: 2em;
}
.box {
  background-color: #261763;
  border-radius: 2em;
  height: 7em;
  width: 7em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.players {
  display: flex;
  margin-bottom: 3em;
  gap: 13em;
}

.player-x {
  height: 5em;
  width: 12em;
  border-radius: 1em;
  background-color: #261763;
  display: flex;
  align-items: end;
  padding: 0.5em;
  font-family: jj;
  color: white;
}
.x {
  display: flex;
  align-self: center;
  font-size: 5.5em;
  padding-left: 0.2em;
  color: #e6c621;
}
.o {
  display: flex;
  align-self: center;
  font-size: 5.5em;
  padding-left: 0.2em;
  color: #e6c621;
}
.player-o {
  height: 5em;
  width: 12em;
  border-radius: 1em;
  background-color: #261763;
  display: flex;
  align-items: end;
  padding: 0.5em;
  font-family: jj;
  color: white;
}
.xo {
  font-size: 100px;
  font-family: jj;
  color: #e6c621;
}
.winner {
  font-size: 100px;
  font-family: jj;
  color: #e6c621;
}
#vict {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.blur {
  filter: blur(3px);
}

.restart {
  font-size: 2em;
  font-family: jj;
  background-color: #e6c621;
  border-style: none;
  border-radius: 2em;
  padding: 0.2em;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  margin-top: 2em;
}
